#extends views.bootstrapSkeleton

#def body
<div class="row">
<div class="offset2 span6">

    <h2>Making a new flag... <small>Be sure to save!</small></h2>
    <form class="form form-horizontal" method="POST" action="/flags/new">
        <div class="control-group #if $getVar('titleError', False)#error#end if#">
            <input type="text" name="title" class="span6" placeholder="title...">
            #if $getVar('titleError', False)
                <span class="help-block">You need to at least enter a title!</span>
            #end if
        </div>
        <div class="control-group">
            <textarea placeholder="flag content" name="description" class="span6" style="height: 100px;">$getVar('description', '')</textarea>
            <span class="help-block"><small>Text can be formated with <a href="http://daringfireball.net/projects/markdown/syntax">Daring Fireball's Markdown</a>. Most HTML is escaped.</small></span>
        </div>
        <div class="control-group">
            <input type="text" name="url" class="span6" value="$getVar('url', '')">
            <span class="help-block">You can attach a URL to this flag if you wish (optional).</span>
        </div>
        <div class="control-group">
        #if $getVar('cfg.enableDynamicLabels', False)
            <div class="well">
                <b class="muted">Labels: </b> <span id="dynamicLabels"></span>
            </div>
            <input type="text" id="labelInput" class="span5" placehlder="labels...">
            <a id="addLabels" class="btn btn-info"><i class="icon-plus"></i></a>
            <span class="help-block">Labels can be stacked with /'s or you can enter multiple labels at once by comma seperating them. Spaces will be stripped. (Hint, tags can also be removed by clicking on them.)</span>
            <input type="hidden" name="labels" id="labels" value="$getVar('lebales', '')">
        #else
            <input type="text" name="labels" class="span6" placeholder="labels..." value="$getVar('labels', '')">
            <span class="help-block">Labels can be stacked with /'s or you can enter multiple labels at once by comma seperating them. Spaces will be striped.</span>
        #end if
        </div>
        <div class="control-group">
            <label class="checkbox">
                <input type="checkbox" name="vis" #if $getVar('vis', False)#checked#end if#> Visible to the public?
            </label>
            <span class="help-block">If checked then this flag will be visible to anyone. You can change this at anytime.</span>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Make it so!</button>
        </div>
    </form>
</div>
</div>
#end def
