#extends views.regularSkeleton

#def body
    <h1 class="text-center text-error"><i class="icon-warning-sign"></i> Warning <i class="icon-warning-sign"></i></h1>
    <h2 class="text-center text-error">Deleting flag: $flag.title</h2>
    <p class="text-error">This action is not reversable. Deleting this flag will delete it for good. It will be gone. Forever.</p>
    <div class="text-center">
        <form action="/flags/$flag.id/delete" method="POST">
        <button type="submit" class="btn btn-inverse"><i class="icon-remove"></i> Delete flag</button> <b>Or...</b> <a href="/flags/$flag.id/edit" class="btn btn-info"><i class="icon-reply"></i> Cancel</a>
        </form>
    </div>
#end def
