<div class="row">
  <div class="span10 offset1">
    <div class="hero-unit">
      <h1><i class="icon-thumbs-up"></i> Thanks!</h1>
      <p>We got your invite request and will send you an email sometime soon with a link to finish registering when a spot become available.</p>
    </div>
  </div>
</div>
