#extends views.regularSkeleton

#def topExtra
    <div class="row">
        <div class="span5">
            <h3><i class="icon-tags"></i> Label <small>
            #for $lab in $baseLabel.split("/")
                #if $baseLabel.split("/").index($lab) == (len($baseLabel.split("/"))-1)
                    $lab
                #else
                    <a href="/labels/view/#echo "/".join($baseLabel.split("/")[:$baseLabel.split("/").index($lab)+1]) #">$lab</a> <span class="divider">/</span>
                #end if
            #end for
            </small></h3>
        </div>
    </div>
#end def

#def body
    #if $labels
        <span>Stacked labels:
        #for $label in $labels# <a href="/labels/view/$label"><span class="label label-info">$label</span></a> #end for# </span>
        <hr>
    #end if
    #if $flags
        $flags
    #else
        <h2>Oh no!</h2>
        <p>We don't have any flags with this label!</p>
    #end if
#end def
