#extends views.regularSkeleton
#from views.partials.flags.publicFlagsListTmpl import publicFlagsListTmpl as publicFlagsList

#def body
<ul class="breadcrumb">
    <li><h3><i class="icon-tags"></i> Label </h3></li>
    #for $lab in $baseLabel.split('/')
        #if $baseLabel.split('/').index($lab) == (len($baseLabel.split('/'))-1)
            <li class="active">$lab</li>
        #else
            <li><a href="/labels/#echo "/".join($baseLabel.split("/")[:$baseLabel.split("/").index($lab)+1]) #">$lab</a> <span class="divider">/</span></li>
        #end if
    #end for
</ul>
#if $labels
    <div class="well">
        <p>Stacked labels:</p>
        #for $label in $labels# <a href="/labels/$label"><span class="label label-info">$label</span></a> #end for#
    </div>
#end if
#if $flags.items
    $publicFlagsList.publicFlagsList($flags, $user, "/labels/%s"%$baseLabel, $cfg)
#else
    <h2>Oh no!</h2>
    <p>We don't have any flags with this label!</p>
#end if
#end def
