#@staticmethod
#def flagView($flag, $user, $flagAuthor="")
    <!-- Start of flag overview template -->
    <div class="row">
        <div class="span6">
            <h2>
                <i class="icon-flag"></i> $flag.title
                <small>
                    <b class="muted"> By #if $flag.userID == $user.id#you!#else#<a class="muted" href="/user/$flagAuthor.username">$flagAuthor.username</a>#end if#</b>
                </small>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <div class="well">
                <span class="muted"><i class="icon-calendar"></i> $flag.formatedDate</span>
                #if not $flag.visibility
                    <span class="label"><i class="icon-lock"></i> Private</span>
               #else
                    <span class="label"><i class="icon-unlock"></i> Public</span>
                #end if
                #if  $flag.userID == $user.id
                     <div class="btn-group pull-right">
                        <a href="/flags/$flag.id/edit" class="btn btn-info"><i class="icon-edit"></i></a>
                        <a href="/flags/$flag.id/delete" class="btn btn-danger"><i class="icon-trash"></i></a>
                    </div>
                #end if
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
        $flag.formatedDescription
        </div>
    </div>
    <div class="row">
        <div class="span6">
            #if $flag.labels and $flag.labels != [""]
                <b class="muted"><i class="icon-tags"></i> Labels: </b>
                #for $label in $flag.labels
                    <a href="/labels/$label"><span class="label label-info">$label</span></a>
                #end for
            #end if
        </div>
    </div>
    <div class="row">
        <div class="span6">
            #if $flag.url
                <b class="muted"><i class="icon-external-link"></i> Link: </b> <a href="$flag.url">$flag.url</a><br>
            #end if
        </div>
    </div>
    <hr>
    <!-- End of flag overview template -->
#end def
