#@staticmethod
#def publicFlagsList($flags, $user, $pageURL, $cfg)
    #for $flag in $flags.getItems
        <!-- Start of flag overview template -->
        <div class="row">
            <div class="span6">
                <h2>
                    <a href="/flags/$flag.id" class="flagLink"><i class="icon-flag"></i> $flag.title</a>
                    <small>
                        <b class="muted"> By #if $flag.userID == $user.id#you!#else#<a class="muted" href="/user/$flag.author.username">$flag.author.username</a>#end if#</b>
                    </small>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <div class="well">
                <span class="muted"><i class="icon-calendar"></i> $flag.formatedDate</span>
                #if not $flag.visibility
                    <span class="label"><i class="icon-lock"></i> Private</span>
               #else
                    <span class="label"><i class="icon-unlock"></i> Public</span>
                #end if
                #if  $flag.userID == $user.id
                     <div class="btn-group pull-right">
                        <a href="/flags/$flag.id/edit" class="btn btn-info"><i class="icon-edit"></i></a>
                        #if $cfg.enableModalFlagDeletes
                            <a href="#flagDeleteModal_$flag.id" class="btn btn-danger" id="flagDeleteModalToggle" role="button" data-toggle="modal"><i class="icon-trash"></i></a>
                        #else
                            <a href="/flags/$flag.id/delete" class="btn btn-danger"><i class="icon-trash"></i></a>
                        #end if
                    </div>
                #end if
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
            $flag.formatedDescription[:160]
            </div>
        </div>
        <div class="row">
            <div class="span6">
                #if $flag.labels and $flag.labels != [""]
                    <b class="muted"><i class="icon-tags"></i> Labels: </b>
                    #for $label in $flag.labels
                        <a href="/labels/$label"><span class="label label-info">$label</span></a>
                    #end for
                #end if
            </div>
        </div>
        <div class="row">
            <div class="span6">
                #if $flag.url
                    <b class="muted"><i class="icon-external-link"></i> Link: </b> <a href="$flag.url">$flag.url</a><br>
                #end if
            </div>
        </div>
        #if $cfg.enableModalFlagDeletes and $user.id == $flag.userID
            <div id="flagDeleteModal_$flag.id" class="modal hide fade" tabindex="-1" role="dialog" aria-labeledby="flagDeleteModal_$flag.id" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                    <h3 class="text-error"><i class="icon-trash"></i> Delete `$flag.title`?</h3>
                </div>
                <div class="modal-body">
                <p class="text-error">You're about to delete your flag `$flag.title`</p>
                <p class="text-error">Are you sure you want to do this? The flag will be gone forever if you delete it</p>
                </div>
                <div class="modal-footer">
                    <form action="/flags/$flag.id/delete" method="POST">
                        <div class="btn-group">
                            <a class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
                            <button class="btn btn-danger" type="submit"><i class="icon-trash"></i> Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        #end if
        <hr>
        <!-- End of flag overview template -->
    #end for
    <div class="pagination pagination-centered">
        <ul>
            #if $flags.hasPrev
                <li><a href="$pageURL?p=${flags.currentPage-1}">&laquo;</a></li>
            #else
                <li class="disabled"><span>&laquo;</span></li>
            #end if
            #for $item in $flags.listPages()
                <li #if $item == $flags.currentPage#class="active"#end if#><a href="$pageURL?p=$item">$item</a></li>
            #end for
            #if $flags.hasNext
                <li><a href="$pageURL?p=${flags.currentPage+1}">&raquo;</a></li>
            #else
                <li class="disabled"><span>&raquo;</span></li>
            #end if
        </ul>
    </div>
#end def
