#extends bootstrapSkeleton

#def body
<div class="hero-unit">
    <h1><i class="icon-flag"></i> Welcome to fla.gr!</h1>
    <p>fla.gr is designed to help with storing and sorting out all those sticky notes on your desk! How nice is that?</p>
    <p>Currently, fla.gr is in a closed alpha, however you can involved by requesting an invite!</p>
    <p>
        <a class="btn btn-primary btn-large" href="/request">
            Request an invite!
        </a>
    </p>
</div>
#end def
