#extends bootstrapSkeleton

#def body
<div class="hero-unit">
    <h1><i class="icon-flag"></i> Welcome to fla.gr!</h1>
    <p>fla.gr is designed to help with storing and sorting out all those sticky notes on your desk! How nice is that?</p>
    <p>
        <a class="btn btn-primary btn-large" href="#aboutAddress">
            Tell me more!
        </a>
    </p>
</div>
#end def
