#extends bootstrapSkeleton

#def body
<div class="hero-unit">
    <h1><i class="icon-flag"></i> Welcome to fla.gr!</h1>
    <p>We're currently down for maintenance, but stay tuned, this shouldn't take more than a few hours!</p>
</div>
#end def
