#extends regularSkeleton

#def headLines
<div class="hero-unit">
    <h1><i class="icon-flbell-alt"></i> fla.gr will be right back!</h1>
    <p>We're working hard to get some bugs fixed, and some new features pushed out the door. This shouldn't take more than a few hours so stay tuned!</p>
</div>
#end def
#def body
#end def
