#extends bootstrapSkeleton

#def mainContent
    <div class="row">
        <div class="span10 offset1">
        <!-- If there is an alert, display it, if not, don't put
        anything else above the content -->
            #if $user.getAlerts()
                $user.getAlerts()
            #end if
        </div>
    </div>
    <div class="row">
        <div class="offset1 span10">
            $getVar('topExtra', '')
        </div>
    </div>
    <div class="row">
        <div class="span10 offset1">
            $getVar('headLines', '')
            <div class="offset2 span6">
                $body
            </div>
        </div>
        <div class="span1">
            $getVar('rightExtra', '')
        </div>
    </div>
#end def
