#extends bootstrapSkeleton

#def body
<!-- Start search overview template -->
<div class="offset3">
    <h2><i class="icon-search"></i> Search flags...</h2>
    <form class="form-inline"action="#searchLocation">
        <div class="input-append">
            <input class="span3" name="search" type="text" placeholder="Search">
            <button class=" btn">
                <i class="icon-search"></i>
            </button>
        </div>
    </form>
</div>
<!-- End search overview template -->
#end def
