#extends regularSkeleton

#def headLines
    <!-- Start search overview template -->
    <div class="offset3">
        <h2><i class="icon-search"></i> Search...</h2>
        <form class="form-inline" action="/search">
            <div class="input-append">
                <input class="span4" name="s" type="text" placeholder="Search..." value="$getVar('query', '')">
                <button type="submit" class="btn-primary btn">
                    <i class="icon-search"></i>
                </button>
            </div>
        </form>
    </div>
    <!-- End search overview template -->
#end def

#def body
    #if $flagResults
        $flagResults
    #else
        <div class="row">
            <div class="span6">
                <h1>Oh no!</h1>
                <p>We don't have any flags that match your search query!</p>
            </div>
        </div>
    #end if
#end def
