<div class="alert $alertType#if len($message) > 160# alert-block#end if#">
    <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
    #if len($message) > 160
        <h4><i class="icon-$icon"></i> $quip</h4>
        $message
    #else
        <i class="icon-info-sign"></i> <strong>$quip</strong> $message
    #end if
</div>
