#extends bootstrapSkeleton

#def mainContent
    #if $user.alerts
        <div class="row">
            <div class="span10 offset1">
            <!-- If there is an alert, display it, if not, don't put
            anything else above the content -->
                $user.alerts
            </div>
        </div>
    #end if
    #if $getVar('topExtra', '') or $getVar('headLines', '')
        <div class="row">
            <div class="offset1 span10">
                $getVar('topExtra', '')
                $getVar('headLines', '')
            </div>
        </div>
    #end if
    <div class="row">
        #if $getVar('leftExtra', '')
            <div class="span2">
                $getVar('leftExtra', '')
            </div>
            <div class="offset1 span6">
        #else
            <div class="offset3 span6">
        #end if
                $body
            </div>
        </div>
        #if $getVar('rightExtra', '')
            <div class="span2 offset1">
                $getVar('rightExtra', '')
            </div>
        #end if
    </div>
#end def
