<div class="row">
  <div class="span2 offset1">
    <div class="tabbable tabs-left">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#view" data-toggle="tab"><i class="icon-user"></i> View</a></li>
        <li><a href="#edit" data-toggle="tab"><i class="icon-pencil"></i> Edit</a></li>
        <li><a href="#flags" data-toggle="tab"><i class="icon-flag"></i> Flags</a></li>
      </ul>
    </div>
  </div>

  <div class="span8">
    <div class="tab-content">
      <div class="tab-pane active" id="view">
        <!-- Start view tab -->
        <div class="row">
          <div class="span8">
            <h2>{{user.username}} <small>
                {{#user.email}}
                  {{user.email}}
                {{/user.email}}
                {{^user.email}}
                  No email listed <i class="icon-frown"></i>
                {{/user.email}}
            </small></h2>
          </div>
        </div>
        <div class="row">
          <div class="span8">
            <h6>Joined: </h6>
            {{user.formatedJoined}}
          </div>
        </div>
        <div class="row">
          <div class="span8">
            <h6>About:</h6>
            {{#user.about}}
              {{{user.formatedAbout}}}
            {{/user.about}}
            {{^user.about}}
              <p>{{user.username}} has nothing about themselves in their profile...</p>
            {{/user.about}}
          </div>
        </div>
        <!-- End view tab -->
      </div>
      <div class="tab-pane" id="edit">
        <!-- Start edit tab -->
        <div class="row">
          <div class="span8">
            <h2>Editing - {{user.username}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="span8">
            <form class="form" method="POST">
              <fieldset>
                <input type="hidden" name="disable" value="{{user.disable}}">
                <input type="email" class="span8" name="email" value="{{user.email}}" placeholder="email..." />

                <textarea id="about" name="about" data-provide="markdown" rows="10" class="span8" placeholder="about...">{{{about}}}</textarea>

                <div class="control-group">
                  <div class="controls">
                    <label class="checkbox" for="emailVis">
                      <input type="checkbox" name="emailVis" value="true" {{#user.emailVisibility}}checked{{/user.emailVisibility}}/> Email visible to public?
                    </label>
                  </div>
                </div>

                <div class="form-actions">
                  <button type="submit" class="btn btn-primary"><i class="icon-save"></i> Update</button>
                  <div class="pull-right">
                    <button id="userToggleButton"
                      class="btn btn-{{#user.disable}}success{{/user.disable}}{{^user.disable}}inverse{{/user.disable}}">
                      {{^user.disable}}
                        <i class="icon-off"></i> Disable
                      {{/user.disable}}
                      {{#user.disable}}
                        <i class="icon-bolt"></i> Enable
                      {{/user.disable}}
                    </button>
                    <button id="deleteButton" class="btn btn-danger"><i class="icon-trash"></i> Delete</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <!-- End edit tab -->
      </div>
      <div class="tab-pane" id="flags">
        <!-- Start flags tab -->
        <div class="row">
          <div class="span8">
            <table class="table">
              <thead>
                <th></th>
              </thead>
              <tbody>
                {{{flags}}}
              </tbody>
            </table>
          </div>
        </div>
        <!-- End flags tab -->
      </div>
    </div>
  </div>
</div>
