#@staticmethod
#def rightExtra($page, $section)
    #if $page=='flags'
    <div class="tabs-left">
        <ul class="nav nav-tabs">
            <li #if $section=="public"#class="active"#end if#><a href="/your/flags"><i class="icon-unlock"></i> Public</a></li>
            <li #if $section=="private"#class="active"#end if#><a href="/your/flags?v=private"><i class="icon-lock"></i> Private</a></li>
        </ul>
    </div>
    #end if
#end def
