#@staticmethod
#def rightExtra($page, $flags)
    #if $page=='flags' and $flags
        <ul class="nav nav-pills">
            <li class="active"><a href="#all"><i class="icon-flag"></i></a></li>
            <li><a href="#public"><i class="icon-unlock"></i></a></li>
            <li><a href="#private"><i class="icon-lock"></i></a></li>
        </ul>
    #end if
#end def
