#extends views.regularSkeleton
#from views.partials.tabs.userTabsTmpl import userTabsTmpl as userTabs

#def topExtra
$userTabs.tabs($page, $userProfile)
#end def
#def body
    <div class="row">
        <div class="span6">
            #if $userProfile.emailVisibility
                <div class="well">
                    <div class="span2">
                        <span class="label label-success"><i class="icon-unlock"></i> Public Email</span>
                    </div>
                    <div class="span3">
                        #if $userProfile.emailVisibility
                            $userProfile.email
                        #end if
                    </div>
                </div>
            #end if
        </div>
    </div>
    <div class="row">
        <div class="span6">
            #if $userProfile.formatedAbout
                $userProfile.formatedAbout
            #else
                <h2>Whoa...</h2>
                <p>$userProfile.username doesn't have any profile information right now! Sorry!</p>
            #end if
        </div>
    </div>
#end def
