#extends views.bootstrapSkeleton
#import markdown

#def body
<div class="offset2 span6">
    <div class="row">
        <h2><i class="icon-user"></i> $userProfile.username <small>profile</small></h2>
    </div>
    <div class="well row">
        <div class="span2">
            #if $userProfile.emailVisibility
                <span class="label label-success"><i class="icon-unlock"></i> Public Email</span>
            #end if
        </div>
        <div class="span3">
            #if $userProfile.emailVisibility
                $userProfile.email
            #end if
        </div>
    </div>
    <div class="row">
        $userProfile.formatedAbout
    </div>
</div>
#end def
