#extends bootstrapSkeleton

#def body
<!-- Start settings template -->
<form class="horizontal-form" action="#settingsFormAddress" method="POST">
    <div class="control-group">
        <h3 class="control-label">Email <small>Just so it's easy for us to contact you...</small></h3>
        <div class="control">
            <input type="text" class="span10" id="email" placeholder="#if $user.email#$user.email#else#example@example.com#end if#">
        </div>
        <span class="help-block"><small class="muted">You don't have to register an email, and can remove it at anytime. We do not give away your email, and request it simply to make notifying you about updates or changes easier.</small></span>
    </div>
    <div class="control-group">
        <h3 class="control-label">Password <small>You don't have to update it, but we leave this here in case you do...</small></h3>
        <div class="control">
            <input type="password" class="span10" id="oldPassword" placeholder="************">
            <input type="password" class="span10" id="newPasswordOne" placeholder="************">
            <input type="password" class="span10" id="newPasswordTwo" placeholder="************">
        </div>
        <span class="help-block"><small class="muted">If you don't want to update your password, just leave this blank.</small></span>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>
<!-- End settings template -->
#end def
