#extends views.bootstrapSkeleton

#def body
#if $flags
    #for $flag in $flags
        <!-- Start of flag overview template -->
        <div class="row">
            <div class="media">
                <a href="$flag.id">
                    <i class="span1 icon-#if $flag.has_key('url') and $flag.url#bookmark#else#list-alt#end if# icon-4x media-object pull-left"></i>
                </a>
                <div class="media-body">
                    <div class="row media-heading">
                        <div class="span3">
                            <h3>
                                <a href="$flag.id">$flag.title</a>
                                <small>
                                    <a href="$flagAuthor.username">$flagAuthor.username</a>
                                </small>
                            </h3>
                        </div>
                        <div class="span5 pull-right">
                            <div class="well">
                                <div class="span">
                                    <i class="icon-calendar muted"></i> <small class="muted">$flag.date</small>
                                </div>
                                <div class="span">
                                    #if $flag.visible
                                        <span class="label"><i class="icon-unlock"></i> Public</span>
                                    #else
                                        <span class="label"><i class="icon-lock"></i> Private</span>
                                    #end if
                                </div>
                                <div class="span pull-right">
                                    <div class="btn-group">
                                        <a class="btn-info btn-small btn" rel="tooltip" href="#editFlag" data-original-title="Edit flag" data-placement="bottom" href="$flag.id">
                                            <i class="icon-edit"></i>
                                        </a>
                                        <a class="btn-danger btn-small btn" rel="tooltip" href="#deleteFlag" data-original-title="Delete Flag" data-placement="bottom" href="$flag.id">
                                            <i class="icon-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    $flag.content[:160]...

                    <br>

                    #if $flag.has_key('labels') and $flag.labels
                        <b class="muted"><i class="icon-tags"></i> Labels: </b>
                            #for $label in $flag.labels
                                <a href="$label"><span class="label label-info">$label</span></a>
                            #end for
                        <br>
                    #end if
                    #if $flag.has_key('url') and $flag.url
                        <b class="muted"><i class="icon-external-link"></i> Link: </b> <a href="$flag.url">$flag.url</a><br>
                    #end if
                </div>
            </div>
        </div>
        <hr>
        <!-- End of flag overview template -->
    #end for
#else
    <div class="row">
        <div class="offset2 span6">
            <div class="page-header">
                <h1>Oh no! <small> It looks like we don't have any flags for this user!</small></h1>
                <p>$flagAuthor.username doesn't seem to have any public flags right now. Check back later and maybe they'll have something!</p>
            </div>
        </div>
    </div>
#end if
#end def
