#extends views.regularSkeleton
#from views.partials.tabs.userTabsTmpl import userTabsTmpl as userTabs

#def topExtra
    $userTabs.tabs($page, $author)
#end def

#def body
    #if $flags
        $flags
    #else
        <div class="row">
            <div class="span6">
                <h1>Oh no!</h1>
                <p>$author.username doesn't seem to have any public flags right now. Check back later and maybe they'll have something!</p>
            </div>
        </div>
    #end if
#end def
