#extends views.bootstrapSkeleton
#from views.partials.tabs.adminTabsTmpl import adminTabsTmpl as adminTabs

#def topExtra
$adminTabs.tabs($page)
#end def
#def body
<ul class="breadcrumb">
    You are here:<span class="divider"></span>
    <li class="active"><a href="/admin">Admin Panel</a>
</ul>
<div class="hero-unit">
    <h2>Oh no!</h2>
    <p>This is a work in progress page, until the rest of fla.gr get built!</p>
</div>
#end def
