#extends adminSkeleton

#def body
<ul class="breadcrumb">
    You are here:<span class="divider"></span>
    <li class="active"><a href="/admin">Admin Panel</a>
</ul>
<ul class="thumbnails">
    <li class="span3">
        <div class="thumbnail">
            <i class="icon-flag icon-4x icon-border"></i>
            <h3>Manage Flags</h3>
            <p>Here you can manage the various flags of the system. You'll be able to see all the flags, their owners, and even edit them if you need to remove content for any reason. Hopefully soon you'll be able to see which flags have been reported, and a better breakdown of the information.<br>
            <a href="/admin/flags" class="btn btn-primary"><i class="icon-flag"></i> Flags</a>
            </p>
        </div>
    </li>
    <li class="span4">
        <div class="thumbnail">
            <i class="icon-group icon-4x icon-border"></i>
            <h3>Manage Users</h3>
            <p>Make life or death decisions on fla.gr, managing users or making a new one. Here you can edit a users whole account, and enable it or disable it, along with deleting it if need be. You can also make new users with the push of a button and some keystrokes.<br>
            <br>
            <br>
            <br>
            <a href="/admin/users" class="btn btn-primary"><i class="icon-group"></i> Users</a>
            </p>
        </div>
    </li>
    #if $cfg.enableRequests
        <li class="span3">
            <div class="thumbnail">
                <i class="icon-comment icon-4x icon-border"></i>
                <h3>Manage Requests</h3>
                <p>Thats right, the site is in a closed alpha or beta state and the only way to get an account is to recieve an invite. In this area you can manage the various invites that have come in, and grant them or delete them.<br>
                <a href="/admin/requests" class="btn btn-primary"><i class="icon-comment"></i> Requests</a>
                </p>
            </div>
        </li>
    #end if
    #if $user.level >= 100
        <li class="span3">
            <div class="thumbnail">
                <i class="icon-lemon icon-4x icon-border"></i>
                <h3>Manage Buckets</h3>
                <p>This link will give you lemons. No, really, it will. Because you are uber awesome you can enable and disable (possibly) experimental features across the whole site, and manage who those features are available to. But be careful, a fire extinguisher is recommended.<br>
                <a href="/admin/dev/buckets" class="btn btn-primary"><i class="icon-lemon"></i> Give me Lemons!</a>
                </p>
            </div>
        </li>
    #end if
</ul>
#end def
