#from views.partials.tabs.adminTabsTmpl import adminTabsTmpl as adminTabs
#extends views.bootstrapSkeleton

#def mainStyle#adminBootstrap.min.css#end def#

#def altNavbar#navbar-inverse#end def#

#def mainContent
    #if $user.getAlerts()
        <div class="row">
            <div class="span10 offset1">
            <!-- If there is an alert, display it, if not, don't put
            anything else above the content -->
                $user.getAlerts()
            </div>
        </div>
    #end if
    <div class="row">
        <div class="offset1 span10">
            $getVar('topExtra', '')
            $adminTabs.tabs($page, $user, $cfg)
        </div>
    </div>
    <div class="row">
        #if $getVar('leftExtra', '')
            <div class="span2">
                $getVar('leftExtra', '')
            </div>
            <div class="span8">
        #else
            <div class="span10 offset1">
        #end if
            $body
        </div>
        #if $getVar('rightExtra', '')
            <div class="span1">
                $getVar('rightExtra', '')
            </div>
        #end if
    </div>
#end def
