#extends views.bootstrapSkeleton
#from views.partials.tabs.adminTabsTmpl import adminTabsTmpl as adminTabs

#def topExtra
$adminTabs.tabs($page)
#end def
#def body
<ul class="breadcrumb">
    You are here:<span class="divider"></span>
    <li><a href="/admin">Admin Panel</a> <span class="divider">/</span></li>
    <li><a href="/admin/users">Users</a> <span class="divider">/</span></li>
    <li class="active">Edit user</li>
</ul>
<div class="offset2 span6">

    <h2>Editing user: $editUser.username</h2>
    <form class="form form-horizontal" method="POST" action="/admin/users/$editUser.id/edit">
        <legend>Profile Stuff...</legend>
        <div class="control-group">
            <textarea placeholder="about them..." name="abount" class="span6">$editUser.about</textarea>
        </div>
        <legend>Useful stuff...</legend>
        <div class="control-group">
            <label>User level</label>
            <select class="span6">
                #for $item in $getVar('levels', (("user", 1), ("admin", 50), ("all mighty", 100)))
                    #if $item[1] <= $user.level
                        <option value="$item[1]" #if $editUser.level == $item[1]#selected="selected"#end if#>$item[0]</option>
                    #end if
                #end for
            </select>
        </div>
        <div class="control-group">
            <input type="email" placeholder="email" name="email" class="span6" value="$editUser.email">
        </div>
        <div class="control-group">
            <label class="checkbox">
                <input type="checkbox" name="emailVis" #if $editUser.emailVisibility#checked#end if#> Email Visibility
            </label>
            <span class="help-block">If checked then the users email will be visible on their profile.</span>
        </div>
        <div class="control-group">
            <label class="checkbox">
                <input type="checkbox" name="disable" #if $editUser.disable#checked#end if#> Disable users account?
            </label>
            <span class="help-block">If checked then the users account will be disabled until reenabled by an admin.</span>
        </div>
        <legend>Password...</legend>
<!--        <small> You don't have to change this, but if you want to, just enter your current password, and the new password below</small>
        <div class="control-group #if $getVar('passwordError', False)#error#end if#">
            <input type="password" placeholder="current password" name="currentPassword" class="span6">
        </div> -->
        <div class="control-group #if $getVar('passwordError', False)#error#end if#">
            <input type="password" placeholder="new password" name="password" class="span6">
        </div>
        <div class="control-group">
            <input type="password" placeholder="renter new password" name="passwordTwice" class="span6">
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-danger">Make user</button>
        </div>
    </form>
</div>
#end def
