#extends views.admin.adminBootstrapSkeleton
#def body

<ul class="breadcrumb">
    You are here:<span class="divider"></span>
    <li><a href="/admin">Admin Panel</a> <span class="divider">/</span></li>
    <li class="active">Users</li>
</ul>
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Joined</th>
            <th>Level</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    #for $userItem in $users
        <tr>
            <td><a href="/admin/users/$userItem.id/edit">$userItem.username #if $user.id == $userItem.id#(You)#end if#</a></td>
            <td><a href="/admin/users/$userItem.id/edit">$userItem.email</a></td>
            <td>$userItem.joined</td>
            <td>
                #if $userItem.level < 50
                    <span class="label"><i class="icon-user"></i> User</span>
                #else if $userItem.level >= 50 and $userItem.level < 100
                    <span class="label label-success"><i class="icon-user-md"></i> Admin</span>
                #else if $userItem.level == 100
                    <span class="label label-important"><i class="icon-fire"></i> All Mighty</span>
                #end if
            </td>
            <td>
                #if $userItem.disable
                    <span class="label label-inverse"><i class="icon-ban-circle"></i> Disabled</span>
                #else
                 <span class="label label-success"><i class="icon-ok"></i> Active</span>
                #end if
            </td>
        </tr>
    #end for
    </tbody>
</table>
#end def
