#extends views.admin.adminSkeleton

#def body
<div class="row">
    <div class="span6 offset2">
        <form class="form form-horizontal" method="POST" action="/admin/templates/new">
            <div class="control-group #if $getVar('nameError', False)#error#end if#">
                <input type="text" name="name" class="span6" placeholder="template name..." value="$getVar('name', '')">
                #if $getVar('nameError', False)
                    <span class="help-block">You need to either pick a new name, or enter one plain out!</span>
                #end if
            </div>
            <div class="control-group">
                <input type="text" name="description" class="span6" placeholder="template description" value="$getVar('description', '')">
            </div>
            <div class="control-group">
                <textarea placeholder="template..." name="template" class="span6" style="height: 225px;">$getVar('template', '')</textarea>
                <span class="help-block"><small>Text can be formated with <a href="http://daringfireball.net/projects/markdown/syntax">Daring Fireball's Markdown</a>. Variables can be input using the <a href="http://mustache.github.com/mustache.5.html">mustache</a> templating system.</small></span>
            </div>
            <div class="control-group">
                <select name="type">
                    #for $type in $templateTypes
                        <option value="$type">$type</option>
                    #end for
                </select>
            </div>
            <div class="well text-center">
                <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Make template</button>
            </div>
        </form>
    </div>
</div>
#end def
