#extends views.regularSkeleton

#def body
<div class="row">
    <div class="span6">
            <h2><i class="icon-tags"></i> Public labels</h2>
    </div>
</div>
#if $labels
    #for $label in $labels# <a href="/labels/$label"><span class="label label-info">$label</span></a> #end for#
#else
    <h2>Oh no!</h2>
    <p>We couldn't find any labels. Either there are no public flags in our system right now, or no one is using labels!<p>
#end if
#end def
