#@staticmethod
#def tabs($page, $user, $cfg)
<!-- Start tabs and you page header -->
<div class="row">
    <div class="span5">
        #if "dev" not in $page
            <h3><i class="icon-wrench"></i> Admin #if $page!="admin panel"#<small>$page</small>#end if#</h3>
        #else
            <h3><i class="icon-lemon"></i> Dev Panel <small>Warning: You are dangerous</small></h3>
        #end if
    </div>
    <div class="span5 tabs-below">
        <ul class="nav nav-tabs">
            <li #if $page=="admin panel"#class="active"#end if#><a href="/admin"><i class="icon-wrench"></i></a></li>
            <li #if $page=="admin flags"#class="active"#end if#><a href="/admin/flags"><i class="icon-flag"></i></a></li>
            <li #if $page=="admin users"#class="active"#end if#><a href="/admin/users"><i class="icon-user"></i></a></li>
            #if $cfg.enableRequests
                <li #if $page=="admin requests"#class="active"#end if#><a href="/admin/requests"><i class="icon-comment"></i></a></li>
            #end if
            #if $user.level <= 100
                <li #if $page=="dev buckets"#class="active"#end if#><a href="/admin/dev/buckets"><i class="icon-lemon"></i></a></li>
            #end if
            #if $page=="admin users"
                <a style="margin-top: 5px" href="/admin/users/new" class="pull-right btn btn-primary"><i class="icon-user"></i> New User</a>
            #end if
        </ul>
    </div>
</div>
<!-- End tabs and page header -->
#end def
