#@staticmethod
#def tabs($page, $userView)
<!-- Start tabs and you page header -->
<div class="row">
    <div class="span5">
        <h3><i class="icon-user"></i> $userView.username <small>$page</small></h3>
    </div>
    <div class="span5 tabs-below">
        <ul class="nav nav-tabs">
            <li #if "profile" in $page#class="active"#end if#><a href="/user/$userView.username"><i class="icon-user"></i></a></li>
            <li #if "flags" in $page#class="active"#end if#><a href="/user/$userView.username/flags"><i class="icon-flag"></i></a></li>
            <li #if "labels" in $page#class="active"#end if#><a href="/user/$userView.username/labels"><i class="icon-tags"></i></a></li>
        </ul>
    </div>
</div>
<!-- End tabs and page header -->
#end def
