#def tabs
<!-- Start tabs and you page header -->
<div class="row">
<!--    <div class="span11 offset1">
        <div class="row"> -->
            <div class="span5">
                <h3><i class="icon-dashboard"></i> Dashboard #if $page!="dashboard"#<small>$page</small>#end if#</h3>
            </div>
            <div class="span5 tabs-below">
                <ul class="nav nav-tabs">
                    <li #if $page=="dashboard"#class="active"#end if#><a href="/your/dashboard"><i class="icon-dashboard"></i></a></li>
                    <li #if $page=="flags"#class="active"#end if#><a href="/your/flags"><i class="icon-flag"></i></a></li>
                    <li #if $page=="labels"#class="active"#end if#><a href="/your/labels"><i class="icon-tags"></i></a></li>
                    <li #if $page=="settings"#class="active"#end if#><a href="/your/settings"><i class="icon-cogs"></i></a></li>
                    <a style="margin-top: 5px" href="/flags/new" class="btn btn-info pull-right"><i class="icon-flag"></i> New flag</a>
                </ul>
            </div>
<!--        </div>
    </div> -->
</div>
<!-- End tabs and page header -->
#end def
