#extends views.regularSkeleton

#def body
    <h2>You got an invite!</h1>
    <p>Hey there hot shots! You finally got an invite! Before you can go galivanting around we need you to finish registering, okay?</p>
    <form class="form form-horizontal" method="POST" action="/request/register/$token">
        <div class="control-group #if $getVar('emailMatchError', False)#error#end if#">
            <input type="email" placeholder="email..." name="email" class="span6" value="$getVar("email", "")" required>
            <span class="help-block">We need to verify your email with the one you gave us in the request. Please use the same email here as you did to request an invite.</span>
        </div>
        <div class="control-group #if $getVar("usernameError", False)#error#end if#">
            <input type="text" placeholder="username..." name="username" class="span6" value="$getVar("username", "")">
            #if $getVar("usernameError", False)
                <span class="help-block">You need to enter a valid username, or pick a new one.</span>
            #end if
        </div>
        <div class="control-group #if $getVar('passwordMatchError', False)#error#end if#">
            <input type="password" placeholder="password..." name="passwordOnce" class="span6">
            <br><br>
            <input type="password" placeholder="renter password..." name="passwordTwice" class="span6">
            #if $getVar("passwordMatchError", False)
                <span class="help-block error">These passwords must match!</span>
            #end if
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Register and login!</button>
        </div>
    </form>
#end def
