#extends views.regularSkeleton

#def headLines
<div class="hero-unit">
    <h1><i class="icon-flag"></i> Thanks!</h1>
    <p>We're glad you signed up for an invite to the beta release! We're working hard to bring fla.gr to everyone but it takes time to get off the ground. We'll try to get to your request as soon as possible!</p>
</div>
#end def
#def body
#end def
