#extends views.admin.adminBootstrapSkeleton

#def body
<div class="row">
    <ul class="breadcrumb">
        You are here:<span class="divider"></span>
        <li><a href="/admin">Admin Panel</a> <span class="divider">/</span></li>
        <li><a href="/admin/flags">Flags</a> <span class="divider">/</span></li>
        <li class="active">Edit flag</li>
    </ul>
</div>
<div class="row">
    <div class="offset2 span6">
        <h2>Editing flag  <small>$title</small></h2>
        <form class="form form-horizontal" method="POST" action="/admin/flags/$id/edit">
            <div class="control-group #if $getVar('titleError', False)#error#end if#">
                <input type="text" name="title" class="span6" placeholder="title..." value="$getVar('title', '')">
                #if $getVar('titleError', False)
                    <span class="help-block">You need to at least enter a title!</span>
                #end if
            </div>
            <div class="control-group">
                <textarea placeholder="flag content" name="description" class="span6" style="height: 225px;">$getVar('description', '')</textarea>
                <span class="help-block"><small>Text can be formated with <a href="http://daringfireball.net/projects/markdown/syntax">Daring Fireball's Markdown</a>. Most HTML is escaped.</small></span>
            </div>
            <div class="control-group">
                <input type="text" name="url" class="span6" value="$getVar('url', '')" placeholder="url...">
                <span class="help-block">You can attach a URL to this flag if you wish (optional).</span>
            </div>
            <div class="control-group">
            #if $getVar('cfg.enableDynamicLabels', False)
                <div class="well">
                    <b class="muted">Labels: </b> <span id="dynamicLabels"></span>
                </div>
                <input type="text" id="labelInput" class="span5" placeholder="labels...">
                <a id="addLabels" class="btn btn-primary"><i class="icon-plus"></i></a>
                <span class="help-block">Labels can be stacked with /'s or you can enter multiple labels at once by comma seperating them. Spaces will be stripped.</span>
                <input type="hidden" name="labels" id="labels" value='$getVar('labels', '')'>
            #else
                <input type="text" name="labels" class="span6" placeholder="labels..." value='$getVar('labels', '')'>
                <span class="help-block">Labels can be stacked with /'s or you can enter multiple labels at once by comma seperating them. Spaces will be striped. (Hint, tags will be removed if you click on them.)</span>
            #end if
            </div>
            <div class="control-group">
                <label class="checkbox">
                    <input type="checkbox" name="vis" #if $getVar('vis', False)#checked#end if#> Visible to the public?
                </label>
                <span class="help-block">If checked then this flag will be visible to anyone. You can change this at anytime.</span>
            </div>
            <div class="well text-center">
                <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Update flag</button> <b>Or...</b> <a href="/admin/flags/$id/delete" class="btn-inverse btn"><i class="icon-remove"></i> Delete flag</a>
            </div>
        </form>
    </div>
</div>
#end def
