<tr id="{{row.id}}">
  <td>
    <a href="/flagpole/flags/view/{{row.id}}">
      {{row.title}}
    </a>
  </td>

  <td>
    <a href="/flagpole/users/view/{{row.userID}}">
      {{row.joineduserID.username}}{{row.joineduserID}}
      {{row.joineduserID.id}}
    </a>
  </td>

  <td>
    {{row.formatedDate}}
  </td>

  <td>
    <span class="label">
      {{#row.visibility}}
        <i class="icon-unlock"></i> Public
      {{/row.visibility}}
      {{^row.visibility}}
        <i class="icon-lock"></i> Private
      {{/row.visibility}}
    </span>
  </td>

  <td>
    <span class="label label-{{#row.reported}}important{{/row.reported}}{{^row.reported}}success{{/row.reported}}">
      {{#row.reported}}
        <i class="icon-ban-circle"></i> Reported!
      {{/row.reported}}
      {{^row.reported}}
        <i class="icon-smile"></i> Okay!
      {{/row.reported}}
    </span>
  </td>
</tr>
