<tr id="{{row.id}}">
  <td>
    <a href="/flagpole/users/view/{{row.id}}">{{row.username}}</a>
  </td>

  <td>
    <a href="/flagpole/users/view/{{row.id}}">{{row.email}}</a>
  </td>

  <td>
    <span class="label {{#row.hasAdmin}}label-important{{/row.hasAdmin}}">
      {{#row.hasAdmin}}
        Admin
      {{/row.hasAdmin}}
      {{^row.hasAdmin}}
        User
      {{/row.hasAdmin}}
    </span>
  </td>

  <td>
    {{^row.disable}}
      <span class="label label-sucess">Active</span>
    {{/row.disable}}
    {{#row.disable}}
      <span class="label label-error">Disabled</span>
    {{/row.disable}}
  </td>
</tr>
