#extends views.regularSkeleton
#from views.partials.tabs.dashboardTabsTmpl import dashboardTabsTmpl as dashboardTabs

#def topExtra
    $dashboardTabs.tabs($page)
#end def

#def body
    <div class="row">
        <div class="span6">
            <h3><i class="icon-flag"></i> Quick Flag</h3>
            <!-- Begin quick flag box -->
            <form class="form" action="/flags/new" method="POST">
                <div class="control-group">
                    <input type="text" name="title" style="width: 97%" placeholder="title...">
                </div>
                <div class="control-group">
                    <textarea name="description" style="width: 97%" placeholder="flag description..."></textarea>
                    <span class="help-block"><small>Text can be formated with <a href="http://daringfireball.net/projects/markdown/syntax">Daring Fireball's Markdown</a>. Most HTML is escaped.</small></span>
                </div>
                <div class="control-group">
                    <input type="text" name="url" style="width: 97%" placeholder="url... (optional)">
                </div>
                <div class="form-actions" style="text-align: center">
                    <button class="btn btn-primary" type="submit"><i class="icon-ok"></i> Make it!</button>
                </div>
            </form>
            <!-- End quick flag box -->
        </div>
    </div>
#end def
