#extends views.bootstrapSkeleton
#from views.partials.tabs.dashboardTabsTmpl import dashboardTabsTmpl as dashTabs
#from views.partials.rightExtras.flagsRightExtraTmpl import flagsRightExtraTmpl as flagsRE
#from views.partials.flags.flagsListTmpl import flagsListTmpl as flagsList

#def rightExtra
$flagsRE.rightExtra($page, $flags)
#end def
#def topExtra
$dashTabs.tabs($page)
#end def
#def body
#if $flags
    $flagsList.flagsList($flags, $user)
#else
    <h2>Oh no!</h2>
    <p>We couldn't find any flags for you, why don't you make one?<p>
    <a href="/flag/new" class="btn btn-info"><i class="icon-flag"></i> New flag</a>
#end if
#end def
