#extends views.bootstrapSkeleton
#from views.partials.tabs.dashboardTabsTmpl import dashboardTabsTmpl as dashTabs

#def topExtra
$dashTabs.tabs($page)
#end def
#def body
#if $labels
    #for $label in $labels# <a href="/your/labels/$label"><span class="label label-info">$label</span></a> #end for#
#else
    <h2>Oh no!</h2>
    <p>We couldn't find any labels! Why don't you make a new flag with some fancy labels, or edit an existing flag of yours to add some labels?<p>
    <a href="/flags/new" class="btn btn-info"><i class="icon-flag"></i> New flag</a>
#end if
#end def
