#extends views.bootstrapSkeleton
#from views.partials.tabs.dashboardTabsTmpl import dashboardTabsTmpl as dashTabs
#import markdown

#def topExtra
$dashTabs.tabs($page)
#end def
#def body
<div class="offset2 span6">
    <div class="well row">
        <div class="span2">
            #if $user.emailVisibility
                <span class="label label-success"><i class="icon-unlock"></i> Public Email</span>
            #else
                <span class="label label"><i class="icon-lock"></i> Private Email</span>
            #end if
        </div>
        <div class="span3">
            $user.email
        </div>
    </div>
    <div class="row">
        $markdown.markdown($user.about)
    </div>
</div>
#end def
