#extends views.regularSkeleton
#from views.partials.tabs.dashboardTabsTmpl import dashboardTabsTmpl as dashTabs
#import markdown

#def topExtra
$dashTabs.tabs($page)
#end def
#def body
    <div class="well">
        <div class="span2">
            #if $user.emailVisibility
                <span class="label label-success"><i class="icon-unlock"></i> Public Email</span>
            #else
                <span class="label label"><i class="icon-lock"></i> Private Email</span>
            #end if
        </div>
        <div class="span3">
            $user.email
        </div>
    </div>
    $user.formatedAbout
#end def
