#extends views.bootstrapSkeleton
#from views.partials.tabs.dashboardTabsTmpl import dashboardTabsTmpl as dashTabs

#def topExtra
$dashTabs.tabs($page)
#end def
#def body
<div class="row">
<div class="offset2 span6">

    <h2>Your settings <small>Don't forget to save!</small></h2>
    <form class="form form-horizontal" method="POST" action="/your/settings">
        <legend>Profile Stuff...</legend>
        <div class="control-group">
            <textarea placeholder="a little about yourself perhaps?" name="about" class="span6">$user.about</textarea>
            <span class="help-block"><small>Text can be formated with <a href="http://daringfireball.net/projects/markdown/syntax">Daring Fireball's Markdown</a></small></span>
        </div>
        <legend>Useful stuff...</legend>
        <div class="control-group">
            <input type="email" placeholder="email" name="email" class="span6" value="$user.email">
        </div>
        <div class="control-group">
            <label class="checkbox">
                <input type="checkbox" name="emailVis" #if $user.emailVisibility#checked#end if#> Email Visibility
            </label>
            <span class="help-block">If checked then your email will be visible on your public profile and flags. You can remove it at any timeby unchecking this box and hitting save.</span>
        </div>
        <legend>Password...</legend>
        <span class="help-block">You don't have to change this, but if you want to, just enter your current password, and the new password below...</span>
        <div class="control-group #if $getVar('passwordError', False)#error#end if#">
            <input type="password" placeholder="current password" name="passwordCurrent" class="span6">
        </div>
        <div class="control-group #if $getVar('passwordMatchError', False)#error#end if#">
            <input type="password" placeholder="new password" name="password" class="span6">
        </div>
        <div class="control-group #if $getVar('passwordMatchError', False)#error#end if#">
            <input type="password" placeholder="renter new password" name="passwordTwice" class="span6">
        </div>
        <div class="well text-center">
            <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> I'm done!</button>
        </div>
    </form>
</div>
</div>
#end def
