#@staticmethod
#def tabs($page, $user, $cfg)
<!-- Start tabs and you page header -->
<div class="row">
    <div class="span5">
        #if "dev" not in $page
            <h3><i class="icon-wrench"></i> Admin #if $page!="admin panel"#<small>$page</small>#end if#</h3>
        #else
            <h3><i class="icon-lemon"></i> Dev Panel <small>Warning: You now have lemons</small></h3>
        #end if
    </div>
    <div class="span5 tabs-below">
        <ul class="nav nav-tabs">
            <li #if $page=="admin panel"#class="active"#end if#><a href="/admin"><i class="icon-wrench"></i></a></li>
            <li #if $page=="admin flags"#class="active"#end if#><a href="/admin/flags"><i class="icon-flag"></i></a></li>
            <li #if $page=="admin users"#class="active"#end if#><a href="/admin/users"><i class="icon-group"></i></a></li>
            #if $user.level <= 100
                <li #if $page=="dev buckets"#class="active"#end if#><a href="/admin/dev/buckets"><i class="icon-lemon"></i></a></li>
            #end if
            <li class="dropdown #if $page in ('admin templates', 'admin requests')#active#end if#">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-chevron-down"></i></a>
                <ul class="dropdown-menu">
                    <li #if $page=="admin templates"#class="active"#end if#>
                        <a href="/admin/templates"><i class="icon-magic"></i> Templates</a>
                    </li>
                    #if $cfg.enableRequests
                        <li #if $page=="admin requests"#class="active"#end if#>
                            <a href="/admin/requests"><i class="icon-comment"></i> Requests</a>
                        </li>
                    #end if
                </ul>
            </li>
            #if $page=="admin users"
                <a style="margin-top: 5px" href="/admin/users/new" class="pull-right btn btn-primary"><i class="icon-user"></i> New User</a>
            #end if
            #if $page=="admin templates"
                <a style="margin-top: 5px" href="/admin/templates/new" class="pull-right btn btn-primary"><i class="icon-magic"></i> New Template</a>
            #end if
        </ul>
    </div>
</div>
<!-- End tabs and page header -->
#end def
